<table class="w-full">
  <tr>
    <td align="center" class="pt-[20px] pl-[20px] pr-[20px]">
      <x-image class="w-[560]" imgUrl="image-3.png"></td>
    </tr>
<tr>
<td align="center" class="pt-[20px] pl-[20px] pb-[20px] pr-[20px]"><p class="font-bold text-[22px] text-[#005555]">Excepteur sint occaecat cupidatat </p>

</td>
</tr>


<tr>
  <td align="center" class=" pl-[50px]  pr-[50px]"><p class="font-normal font-Arial text-[16px] text-[#444444] leading-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  
  </td>
  </tr>

  <tr>
    <td align="center" class="pt-[20px] pl-[20px] pb-[20px] pr-[20px]">
      <x-button bgColor="#008080" width="350px" height="46px" href="#" class="text-[#ffffff] text-[20px] font-bold rounded-[8px]">Ut enim ad minim veniam</x-button>

    </td>

  </tr>

</table>
