<table role="presentation" class="w-full">

  <!-- Heder start -->
  <tr>
    <td class="pt-[20px] pl-[20px] pb-[20px] pr-[20px]  font-normal text-[12px] text-left text-[#000000]">
      <table>
  <tr>
    <td align="left" class="w-[115px] h-[45px]" > <x-image imgUrl="image-1.png" class="w-[115px] h-[45px]" /></td>
    <td align="left" class="text-md text-primary pl-[20px] pr-[40px]"> <p class="text-[12px] text-[#002B2B] font-Arial">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></td>
  </tr>
  </table>
  </td>
  </tr>

   <!-- Heder End -->
</table>
